.product_input {
    margin-left: 30px;
    width: 244px;
    margin-top: 20px;
}
.price_input {
    margin-left: 52px;
    width: 244px;
    margin-top: 20px;
}
.image_input {
    margin-left: 41px;
    width: 244px;
    margin-top: 20px;
}
.category_select{
    margin-left: 22px;
    width: 244px;
    margin-top: 20px;
}
.description_input {
    margin-left: 6px;
    width: 244px;
    margin-top: 20px;
}